<!-- Content Wrapper. Contains page content -->

<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">DashBoard</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">+Add Device</a></li>
          <!-- <li class="breadcrumb-item active">Starter Page</li> -->
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- dashboards cards  -->
<div class="container">
  <div class="row">
    <div class="col-lg-3 col-6">
      <div class="small-box bg-danger">
        <div class="inner">
          <h3 [routerLink]="['/mainpage','79']">79</h3>
          <p>Vidani</p>
        </div>
        <div class="icon">
          <i class="ion ion-bag"><i class="fa fa-bolt"></i></i>
        </div>
        <h4><i class="fa fa-warning"></i>Not Connected</h4>
        <br>
      </div>
    </div>

    <div class="col-lg-3 col-6">

      <div class="small-box bg-danger">
        <div class="inner">
          <h3>86<sup style="font-size: 20px"></sup></h3>
          <p>off</p>
        </div>
        <div class="icon">
          <i class="ion ion-stats-bars"><i class="fa fa-bolt"></i></i>
        </div>
        <h4><i class="fa fa-warning"></i> Not Connected</h4>
        <br>
      </div>
    </div>

    <div class="col-lg-3 col-6">
      <div class="small-box bg-danger">
        <div class="inner">
          <h3>53</h3>
          <p>a</p>
        </div>
        <div class="icon">
          <i class="ion ion-person-add"><i class="fa fa-bolt"></i></i>
        </div>
        <h4><i class="fa fa-warning"></i> Not Connected</h4>
        <br>
      </div>
    </div>

    <div class="col-lg-3 col-6">

      <div class="small-box bg-danger">
        <div class="inner">
          <h3>63</h3>
          <p>1</p>
        </div>
        <div class="icon">
          <i class="ion ion-pie-graph"><i class="fa fa-bolt"></i></i>
        </div>
        <h4><i class="fa fa-warning"></i> Not Connected</h4>
        <br>
      </div>
    </div>

    <div class="col-lg-3 col-6">

      <div class="small-box bg-danger">
        <div class="inner">
          <h3>89 KC Test</h3>
          <p>pune</p>
        </div>
        <div class="icon">
          <i class="ion ion-person-add"><i class="fa fa-bolt"></i></i>
        </div>
        <h4><i class="fa fa-warning"></i> Not Connected</h4>
        <br>
      </div>
    </div>

    <div class="col-lg-3 col-6">

      <div class="small-box bg-danger">
        <div class="inner">
          <h3>73</h3>
          <p>office</p>
        </div>
        <div class="icon">
          <i class="ion ion-person-add"><i class="fa fa-bolt"></i></i>
        </div>
        <h4><i class="fa fa-warning"></i> Not Connected</h4>
        <br>
      </div>
    </div>

  </div>
</div>


<!-- /.content-wrapper -->