/* .container{
    margin-top: 10%;
} */
/* .box{
    height: 90vh;
    padding-left: 180px;
    padding-top : 60px;
    border: 1px solid white;
}

.box2{
    border: 1px solid black;
    border-radius: 10px;
    width: 50%;
    height: 30%;
} */