<!-- username::
<input type="username" [(ngModel)]="username"> <br>
passowrd::
<input type="password" [(ngModel)]="password"> <br>
<button (click)="login()">login </button> -->

<!-- <div class="container">
   
    <div class="container">
        <div class="box" style="text-align: center;">

            <label for=""> UserName</label> <br>
            <input type="username" [(ngModel)]="username"> <br><br>

            <label for=""> Password</label> <br> 
            <input type="password" [(ngModel)]="password"> <br>
            <br>

            <button (click)="login()">login </button>
        </div>
    </div>
</div> -->

<div class="body" >
<h1 style="text-align: center; color: rgb(17, 12, 12);">FLOW METER CONTROL PANEL</h1>
<div class="login-wrap">
	<div style="margin-top:25px ;">
		<div class="login-html">
			<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab"></label>
			<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
			<!-- <div class="login-form">
				<div class="sign-in-htm">
					<div class="group">
						<label for="user" class="label">Username</label>
						<input id="user" [(ngModel)]="username" placeholder="username" type="text" class="input">
					</div>
					<div class="group">
						<label for="pass" class="label">Password</label>
						<input id="pass" type="password" placeholder="password" [(ngModel)]="password" class="input" data-type="password">
					</div>
					<br>
					<div class="group">
						<input type="submit" (click)="login()" class="button" value="Sign In">
					</div>
					<br><br>
					<div style="text-align: center;">
						<h4 style="color: white;">©Bulfro Monitech Pvt. Ltd..</h4>
						<h5 style="color: white;">All rights reserved </h5>
					</div>
				</div>
			</div> -->
			<form [formGroup]="loginform" (submit)="Login()">
				<div class="input-group mb-3">
				  <input type="text" class="form-control" formControlName="username" placeholder="username">
				  <div class="input-group-append">
					<div class="input-group-text">
					  <span class="fas fa-user"></span>
					</div>
				  </div>
				</div>
				<div class="input-group mb-3">
				  <input type="password" class="form-control" formControlName="password" placeholder="Password">
				  <div class="input-group-append">
					<div class="input-group-text">
					  <span class="fas fa-lock"></span>
					</div>
				  </div>
				</div>
				<div class="row">
				 
					<button type="submit" class="btn btn-primary btn-block">Sign In</button>
				  <!-- /.col -->
				</div>
			  </form>
			
		</div>
	</div>
</div>
<h5 style="text-align: center;">Login form Design by W3layouts</h5>
</div>
